# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dat
*.pdf
*.out
compY

AfterOFT2
All2_NewOFT
AfterOFT2
All2_NewOFT
OFT2
All2_File


Double_OFT_Dist
OFT_Double_Scraper
Single_OFT_Dist

.vscode/*
.vscode/

max_file.dat

# Directories
Stored/Bad_Gammas/*
Stored/*
Stored/
Stored/*.rawSpec
Gammas/*
Gammas/
Gamma_Single_Cs/*
Gamma_Double_Cs/*
Gamma_Single_Cs/
Gamma_Double_Cs/
Gamma_GANIL/*
Gamma_GANIL/
OutputFolder/*
OutputFolder/
d0s/*
d0s/
d0s_4/*
d0s_4/
d0_Folder/*
d0_Folder/
ComptonHists/*
ComptonHists/
d0_E_Merge/*
d0_E_Merge/ 
